
<script>
import { ref } from 'vue'
import { getUser } from './../functions';
export default {
    data() {
        return {
            picture: undefined,
            email: undefined,
            first: undefined,
            last: undefined,
            gender: undefined
        }
    },
    methods: {
        async renew() {
            const res = await getUser()
            const r = await res.json();
            const newResult = r.results.pop()
            this.email = newResult.email;
            this.first = newResult.name.first;
            this.last = newResult.name.last;
            this.picture = newResult.picture.large;
            this.gender = newResult.gender
        },
    }, beforeMount() {
        this.renew();
    },
}




</script>

<template>
    <div id="app">
        <img v-bind:src="picture" :class="gender"/>
        <h2>{{ email }}</h2>
        <h2>{{ first }} {{ last }}</h2>
        <button :class="gender" @click="renew">Get Random User</button>
    </div>
</template>
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 400px;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  margin-bottom: 1rem;
  font-weight: normal;
}

img {
  border-radius: 50%;
  border: 5px #333 solid;
  margin-bottom: 1rem;
}

.male {
  border-color: steelblue;
  background-color: steelblue;
}

.female {
  border-color: pink;
  background-color: pink;
  color: #333;
}

button {
  cursor: pointer;
  display: inline-block;
  background: #333;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 1rem 1.5rem;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(0.98);
}
</style>