<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import Person from './components/Person.vue'
</script>

<template>
  <main>
    <Person />
  </main>
</template>
